@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    
}

.wrapper{
    display: flex;
    min-height: 100vh;
}

#sidebar{
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 48, 46);
}

.main{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: rgb(245, 245, 220);
}

#sidebar.expand{
    width: 260px;
    min-width: 260px;
}
#sidebarToggle{
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}
#sidebarToggle i{
    font-size: 1.5rem;
    color: #fff;
}

.sidebar-header {
    display: flex;
    align-items: center;
    min-height: 64px;
    gap: 12px;
    padding: 1.5px;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
    white-space: nowrap;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav{
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

a.sidebar-link:hover{
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #f5f5dc;
}

.sidebar-item{
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown{
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}
#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown{
    display: block;
    max-height: 15em;
    width: 100%;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after{
    transform: rotate(45deg);
    transition: all.2s ease-out;
}

#sidebar:not(.expand) {
    pointer-events: none;
}

#sidebar:not(.expand) .sidebar-toggle {
    pointer-events: auto;
}

#sidebar.expand .sidebar-logo {
    display: block;
}

